<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="browser" value="chrome"/>
  <parameter name="url" value="http://google.com"/>
  <parameter name="username" value="admin"/>
  <parameter name="password" value="admin"/>
    <classes>
      <class name="com.srm.PRACTICE.ReaddatasuiteXMLfileTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
